.jumbotron {
    background-color:#4aaaa5;
    box-sizing: border-box;
    font: 15px;
    margin: 0 auto;
    color: white;
    text-align: center;
}

body {
    background-image: url("../images/dynamic-style.png");
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;


}

img {
    float: left;
    padding: 0% auto;
    border-radius: 50%
}

.container {
    display: flex;
    flex-wrap: inherit;
    margin-top: 25px;
   
}

a {
    color: white;
}

.btn-primary {
    background-color: #4aaaa5;
    margin: 35px;
}
 
a:hover {
    color: #4aaaa5;
}

.btn-primary:hover {
    background-color: #777777;
}