body  {
        background-color: #ffffff;
        font-family: Georgia, "Times New Roman", serif;
        font-size: 20px;
        background: white;
        box-sizing: border-box;
       

}

.header {
                background-color:white;
                width: 100%
                
                
}

h1 {
        font-size: 30px;
        text-align: left;
        background-color:#4aaaa5;
        color: white;
        margin: 0px;
        padding: 5px;
        position: fixed;
        justify-content: center
       
        
      

}

h2 {
        font-size: 25px;
        text-align: left;
        color:#4aaaa5;
        margin: 0px;
        clear: left
        padding: 5;
        margin-top: 20px;


}


hr {
        width: 100%;
        height: 1px;
        background: #fff
  

        
        
}


img {
        display: block;
        margin-left: left;
        margin-right: auto;

}

p {
        
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        margin: 0 auto;
        
        
        
}

.container {
        
        margin: 0 auto;
        background-image: url("../images/dynamic-style.png");
        float: center;


}

#bio-image {

        float: left;

       
}
#student-bio {
        width: 100%
}


form {
        
        color: #777777;
        font-size: 20px;
        margin: 0 auto;


}
a {     
        font-size: 20px;
        color: #777777;
        text-align: inherit;
        margin: 0 auto;
        float: right;
        font-style: bold;
        
 



        
}

input[type=text], select, textarea {
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        resize: vertical;
        border: 1px solid;
        float: center;
        margin: 0 auto;
        
}

input[type=submit], select {
        background-color:#4aaaa5;
        color: white;

}

 footer {
      
        height: 30px;
        border-top: solid;
        background-color: #777777;
        border-top: 8px solid #4aaaa5;
        position: sticky;

}

 .box-red {         
        background: red;
        height: 100px;
        width: 100px; 
        position: relative;
        top: 100px;
        left: 100px; 
        justify-content: space-evenly;
  
      }
      .box-green {
        background: green;
        height: 100px;
        width: 100px; 
        position: static; 
        justify-content: space-evenly;
      
      }

      .box-yellow {         
        background: yellow;
        height: 100px;
        width: 100px; 
        position: relative;
        top: 100px;
        left: 100px; 
        justify-content: space-evenly;
        
      }
      .box-blue {
        background: blue;
        height: 100px;
        width: 100px; 
        position: static; 
        justify-content: space-evenly;
       
      }
      .box-purple {
        background: purple;
        height: 100px;
        width: 100px; 
        position: static;
        top: 100px;
        left: 100px; 
        justify-content: space-evenly;
        
      }
      ul {
              float: right;
              font-size: 20px;
                color: #777777;
      }
      
      .center-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
